{
  "admin": {
    "password": "CAMBIAR_CLAVE",
    "rol": "backoffice",
    "estado": "activo",
    "razon": "ALL"
  },
  "editor1": {
    "password": "CAMBIAR_CLAVE",
    "rol": "editor",
    "estado": "activo",
    "razon": "ALL"
  },
  "presencialidad1": {
    "password": "CAMBIAR_CLAVE",
    "rol": "presencialidad",
    "estado": "activo",
    "razon": "ALL"
  },
  "presencialidad2": {
    "password": "CAMBIAR_CLAVE",
    "rol": "presencialidad",
    "estado": "activo",
    "razon": "ALL"
  }
}
